
.btn_primary{
    a{
        position: relative;
        background: #444;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 0.1em;
        font-weight: 400;
        padding: 10px 30px;
        transition: 0.5s;
    }
    a:hover{
        background-color: var(--clr_primary);
        color: var(--clr_primary);
        letter-spacing: 0.25em;
        box-shadow: 0 0 35px var(--clr_primary);
    }
    a:before{
        content: '';
        position: absolute;
        inset: 2px;
        background: #27282c;
    }
    span{
        position: relative;
        z-index: 1;
    }
    i{
        position: absolute;
        inset: 0;
        display: block;
    }
    i::before{
        content: '';
        position: absolute;
        top: -6px;
        left: 100%;
        width: 10px;
        height: 10px;
        background: #27282c;
        transform: translateX(-50%);
        border: 2px solid var(--clr_primary);
        transition: 0.5s;
    }
    a:hover i::before{
        left: 0;
        transform: translateX(-50%) rotate(45deg);
        box-shadow: 38px 39px var(--clr_primary);
    }
    i::after{
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0%;
        width: 10px;
        height: 10px;
        background: #27282c;
        transform: translateX(-50%);
        border: 2px solid var(--clr_primary);
        transition: 0.5s;
    }
    a:hover i::after{
        left: 100%;
        transform: translateX(-50%) rotate(-45deg);
        box-shadow: 38px -39px var(--clr_primary);
    }
}

.btn_primary_color{
    a{
        position: relative;
        background: #444;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 0.1em;
        font-weight: 400;
        padding: 10px 30px;
        transition: 0.5s;
    }
    a:hover{
        background-color: var(--clr_primary_color);
        color: var(--clr_primary_color);
        letter-spacing: 0.25em;
        box-shadow: 0 0 35px var(--clr_primary_color);
    }
    a:before{
        content: '';
        position: absolute;
        inset: 2px;
        background: #27282c;
    }
    span{
        position: relative;
        z-index: 1;
    }
    i{
        position: absolute;
        inset: 0;
        display: block;
    }
    i::before{
        content: '';
        position: absolute;
        top: -6px;
        left: 100%;
        width: 10px;
        height: 10px;
        background: #27282c;
        transform: translateX(-50%);
        border: 2px solid var(--clr_primary_color);
        transition: 0.5s;
    }
    a:hover i::before{
        left: 0;
        transform: translateX(-50%) rotate(45deg);
        box-shadow: 38px 39px var(--clr_primary_color);
    }
    i::after{
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0%;
        width: 10px;
        height: 10px;
        background: #27282c;
        transform: translateX(-50%);
        border: 2px solid var(--clr_primary_color);
        transition: 0.5s;
    }
    a:hover i::after{
        left: 100%;
        transform: translateX(-50%) rotate(-45deg);
        box-shadow: 38px -39px var(--clr_primary_color);
    }
}

.btn_secondary{
    a{
        position: relative;
        background: #444;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 0.1em;
        font-weight: 400;
        padding: 10px 30px;
        transition: 0.5s;
    }
    a:hover{
        background-color: var(--clr_secondary);
        color: var(--clr_secondary);
        letter-spacing: 0.25em;
        box-shadow: 0 0 35px var(--clr_secondary);
    }
    a:before{
        content: '';
        position: absolute;
        inset: 2px;
        background: #27282c;
    }
    span{
        position: relative;
        z-index: 1;
    }
    i{
        position: absolute;
        inset: 0;
        display: block;
    }
    i::before{
        content: '';
        position: absolute;
        top: -6px;
        left: 100%;
        width: 10px;
        height: 10px;
        background: #27282c;
        transform: translateX(-50%);
        border: 2px solid var(--clr_secondary);
        transition: 0.5s;
    }
    a:hover i::before{
        left: 0;
        transform: translateX(-50%) rotate(45deg);
        box-shadow: 38px 39px var(--clr_secondary);
    }
    i::after{
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0%;
        width: 10px;
        height: 10px;
        background: #27282c;
        transform: translateX(-50%);
        border: 2px solid var(--clr_secondary);
        transition: 0.5s;
    }
    a:hover i::after{
        left: 100%;
        transform: translateX(-50%) rotate(-45deg);
        box-shadow: 38px -39px var(--clr_secondary);
    }
}



   

